.App {
  display: flex;
}

.allCards h1 {
  font-size: 6rem;
  color:black;
  font-weight: 400;
}

.allCards h1:hover {
  color: red;
}

.allCards {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  display: flex;
}

.cardPage {
  display: flex;
  flex-wrap: wrap;
}

.cardPage h1 {
  display: flex;
  flex-basis: 100%;
  position: absolute;
  top: 20px;
  left: 20px;
}

.cardPage h2 {
  position: absolute;
  top: 20px;
  right: 20px;
}

.cardPage img {
  position: absolute;
  top: 40%;
  left: calc(50% - 50px);
}

input {
  display: flex;
  padding: 1rem;
  width: 30%;
  align-self: center;
}

img {
  width: 100px;
}

li {
  list-style-type: none;
  margin: 2rem 0;
}

a {
  color: black;
  text-decoration: none;
}
